.main-content {
  .product-presentation-req-div {
    .product-presentation-req-main {
      .datatable .VueTables .row:first-child, .datatable .VueTables .table-responsive {
        padding: 0;
      }

      .sub-list-click-row a {
        color: #212529;
      }

      .VueTables__search {
        margin-bottom: 35px;
      }

      @media (min-width: 1200px) {
        padding: $product-presentation-req-spacing;
      }

      .brown-heading-cl {
        background-color: $themecolor;
        color: $white;
      }

      .VueTables__table {
        width: 100%;

        tbody {
          letter-spacing: 0px;

          tr {
            border-bottom: none;

            &:nth-of-type(even) {
              background-color: #f1f0ee;
            }

            td {
              font-size: 14px;

              &:nth-child(1) {
                width: 5%;
              }

              &:nth-child(2) {
                width: 15%;
              }

              &:nth-child(3) {
                width: 15%;
              }

              &:nth-child(4) {
                width: 15%;
              }

              &:nth-child(5) {
                width: 45%;
              }

              &:nth-child(6) {
                width: 5%;
              }

              &:first-child {
                font-family: VisbyCF-Medium
              }
            }
          }
        }
      }
    }
  }
}