
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$themecolor: #251c11;
$font-color: #232323;
$gray-color: #e5e4dd;
$white : #fff;
$letter-spacing : 1px;

/* Color */
$green-theme: #65bc5b;
$pink-theme: #f35176;
$sky-theme: #79d3f8;
$orange-theme: #f77555;
$yellow-theme: #e5d20a;
$purple-theme: #763f9a;
$contact-theme: #4d453b;
$pricing-theme: #21612d;
$submission-theme: #63656a;
$draft-theme: #8b6825;
$product-presentation-theme: #6d6454;
/* Admin Panel */
$vendor-theme: #8b6825;
$notification-theme: #7a7c7f;
/* Admin Panel */

/* Spacing */
$content-spacing : 100px 100px 100px;
$monthlylibrary-spacing: 40px 200px;
$monthlyform-spacing1: 80px 160px;
$monthlyform-spacing2: 80px 30px;
$pricing-spacing: 60px 0px;
$tradeshowform-spacing: 80px 145px;
$scanbackform-spacing: 80px 200px 200px 200px;
$newproductreq-spacing: 80px 200px;
$newproductreqacc-spacing: 50px 200px;
$mysubmissions-spacing: 100px 30px 50px 30px;
$drafts-spacing: 100px 30px 50px 30px;
$myproducts-spacing: 100px 30px 50px 30px;
$tradeshow-customers-spacing: 100px 30px 50px 30px;
$myprofile-spacing: 80px 160px 260px 160px;
$product-presentation-spacing1: 80px 160px;
$product-presentation-spacing2: 80px 30px;
$ac-form-spacing: 80px 160px 200px 160px;


/* Admin Spacing */
$pricing-spacing: 80px 55px;
$sent-notification-spacing: 40px 55px;
$vendors-new-req-spacing: 40px 55px;
$product-edit-request-spacing: 40px 55px;
$adm-newproduct-request-spacing: 40px 55px;
$adm-prospace-sublist-spacing: 40px 55px;
$adm-unverified-cust-spacing: 40px 55px;
$adm-ts-events-spacing: 40px 55px;
$adm-sb-sublist-spacing: 40px 55px;
$send-notifcn-spacing-left: 40px 50px;
$send-notifcn-spacing-right: 100px 30px 60px 30px;
$adm-form-spacing: 80px 200px;
$adm-userlist-spacing: 40px 55px;
$permission-spacing: 50px 200px;
$product-presentation-edit-spacing2: 80px 50px 250px 50px;
$product-presentation-req-spacing: 40px 55px;
