.monthlylibrary-div {
  .monthlylibrary-main {
    background-color: #fff;
    @media(min-width: 1200px) {
      padding: $monthlylibrary-spacing;
    }

    .item-box {
      margin-bottom: 25px;
      .item {
        @media(min-width: 992px) {
          /*padding: 0px 20%;
          &:nth-child(4n+1){ padding-left: 0; }
          &:nth-child(4n-1){ padding-right: 0; }*/
          padding: 0px 15%;
        }
        .text-box {
          color: #7a7c7f;
          padding: 18px 0;
          width: 100%;
          float: left;
          .text-dots {
            width: 90%;
            float: left;
            line-height: normal;
            .text {
              font-size: 12px;
              text-transform: uppercase;
              font-family: VisbyCF-Bold;
            }
          }
          .forward-email {
            width: 10%;
            float: left;
            .fa-share {
              float: right;
            }
          }
        }
        .image-box {
          background: #e5e4dd;
          img {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.33), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
            border-radius: 3px;
            @media (max-width: 767px) {
              width: 100%;
            }
          }
        }
      }
    }
    .view-cls {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 0px;
      background: #fff;
      width: 125px;
      padding: 7px 25px;
      float: right;
      .fa {
        font-size: 18px;
        margin-right: 6px;
        color: #817c82;
      }
      .fa-plus { font-size: 15px;  }
      .view-text {
        color: #817c82;
      }
      @media(max-width: 992px) {
        width: 100%;
        text-align: center;
      }
    }
    .padding33 {
      @media(min-width: 992px) {
        padding: 0px 3.3%;
      }

    }
  }
  .adm-monthlyspecials-copy {
    @media (min-width: 1800px) {
      .col-lg-3 { max-width: 16.66%; }
      .padding33 .col-lg-6 { padding: 0; }
      .searchbox .form-control-search { left: 7px; }
    }

  }
}