#shareModal {
  //background: #e5e4dde6;
  .modal-dialog {
    @media (min-width: 1200px) {
      max-width: 580px;
    }
  }
  background: rgba(0, 0, 0, .7);
  .modal-content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 0;
    .modal-header {
      padding: 15px 20px;
      background: $themecolor;
      border-radius: 0;
      .modal-title {
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        color: $white;
        line-height: 2;
        font-family: VisbyCF-ExtraBold;
        word-break: break-all;
      }
      .close {
        font-size: 34px;
        color: #f37451;
        padding: 8px 20px;
        opacity: 1;
        text-shadow: none;
        &:focus {
          outline: none;
        }
      }
      .fa-share {
        margin-right: 5px;
      }
    }
    /* Button Css */
    .login-submit {
      //width: 100%;
      color: #fff;
      background: $themecolor;
      text-transform: uppercase;
      margin: 25px 0;
      border-radius: 0;
      font-family: VisbyCF-Bold;
      padding: 5px 35px;
      font-size: 14px;
    }
    /* Button Css end */

    hr {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .modal-body {
      .visbybold {
        font-size: 14px;
        font-family: VisbyCF-Bold;
      }
      .fa-plus {
        color: #b7b7b7;
        font-size: 14px;
      }
      input[type="text"] {
        border: none;
        width: 89.5%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #b7b7b7;
          font-family: VisbyCF-DemiBold;
          font-size: 14px;
        }
      }
      textarea {
        width: 100%;
        border: none;
        resize: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #b7b7b7;
          font-family: VisbyCF-DemiBold;
          font-size: 14px;
        }
      }
    }

  }
}