.textarea-div {
  position: relative;
  .textarea-bottom {
    height: 0px;
    width: 0px;
    border-top: 6px solid #7a7c7f;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    -webkit-transform: rotate(-45deg);
    position: absolute;
    bottom: 6px;
    right: -3px;
    pointer-events: none;
    z-index: 2;
  }
  .input-textarea {
    background: #fff;
    width: 100%;
    border: none;
    padding: 4px 6px;
    min-height: 34px;
    color: #886416;
    font-weight: bold;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: #c8c3bf;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #c8c3bf;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #c8c3bf;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #c8c3bf;
    }
  }
}

